// layouts.scss

body {
    font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    background-color: $gray1;
}

h1 {
    margin-top: 0;
}

.noscroll {
    overflow: hidden;
}

.header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgba($white, .97);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .05);
    &-wrapper {
        display: flex;
        height: 100%;
    }
}

.guide {
    &-item {
        overflow: auto;
    }
    &-title {
        @include type-title;
        width: 100%;
        border-bottom: 1px solid $gray3;
    }
}

.contents-wrapper {
    width: 100%;
}

.nav {
    @include type-nav;
    a {
        position: relative;
        color: $gray8;
    }
    li {
        list-style: none;
    }
    &-items {
        margin-left: 0;
        padding-left: 0;
    }
    &-link,
    &-sub-link {
        height: 40px;
    }
    &-subsection {
        @include type-nav-sub;
        padding-left: 0;
        li {
            list-style: none;
        }
    }
    .mod-current {
        &::before {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 2px;
            background-color: $accessible-blue;
        }
    }
}

@include media($mobile) {
    $padding: 20px;
    .header {
        height: 50px;
        padding: 0;
        &-wrapper {
            position: relative;
            left: 0;
            display: flex;
            align-items: center;
            transition-duration: $transition-timing;
            transition-timing-function: $transition-function;
            &.mod-moved {
                position: relative;
                left: 20px;
                opacity: .2;
            }
        }
        &-mark {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        &-burg {
            height: 50px;
            width: 50px;
            padding: 0;
            margin: 0;
            opacity: 1;
        }
    }
    .contents {
        padding-top: 50px;
        &-wrapper {
            margin-top: 20px;
            transition-duration: $transition-timing;
            &.mod-moved {
                padding-left: 10px;
            }
        }
    }
    .guide {
        &-item {
            padding-left: $padding;
            padding-right: $padding;
            &.mod-example {
                padding-left: 0;
                padding-right: 0;
            }
        }
        &-title {
            padding-bottom: 10px;
        }
    }
    .nav {
        position: absolute;
        z-index: 1;
        top: 0;
        left: -100%;
        width: 77vw;
        height: 100vh;
        padding-top: 55px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
        background-color: $white;
        overflow: auto;
        transition: left $transition-timing / 2;
        &.mod-showing {
            left: 0;
            transition: left $transition-timing $transition-function;
        }
        &-heading {
            margin-left: 30px;
            margin-top: 0;
            font-size: 18px;
            font-weight: normal;
            color: $gray8;
        }
        li {
            padding-left: 0;
        }
        &-link,
        &-sub-link {
            padding-left: 30px;
        }
        &-link {
            @include type-nav;
            display: block;
            padding-top: 10px;
        }
        &-sub-link {
            display: block;
            padding-top: 7px;
            width: 100%;
        }
        &-close {
            position: absolute;
            top: 0;
            left: 0;
            height: 60px;
            width: 60px;
            border: none;
            background-color: transparent;
            > img {
                position: relative;
                top: -4px;
                width: 32px;
                height: 32px;
            }

        }
        &-subsection {
            margin-bottom: 7px;
            > li {
                margin-left: 0;
            }
        }
    }
}

@include media($tablet-plus) {
    a {
        transition-duration: .1s;
        &:hover {
            color: $gray8;
        }
    }
    .header {
        height: 60px;
        &-wrapper {
            @include max-width;
            margin: 0 auto;
            align-items: center;
        }
        &-burg {
            display: none;
        }
    }
    .contents {
        @include max-width;
        display: flex;
        margin: 0 auto;
        padding-top: 60px;
        &-wrapper {
            margin-left: 175px;
        }
    }
    .guide {
        &-item {
            margin-top: 20px;
        }
        &-title {
            padding-bottom: 10px;
        }
    }
    .nav {
        position: fixed;
        &-close {
            display: none;
        }
        &-brand,
        &-components {
            padding: 0 0 20px 0;
            max-width: 55vw;
        }
        &-link {
            display: block;
            height: 30px;
            padding-top: 10px;
        }
        &-sub-link {
            display: block;
            height: 25px;
            padding-top: 7px;
            width: 100%;
        }
    }
}
