// body.styleguide.components

// Colors
.sg-colors {
    .sg-colors-code-example {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 130px;
        width: 130px;
        background-color: $pink;
        color: $white;
        &:hover {
            background-color: $dark-pink;
        }
    }
    .colors {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        font-weight: 500;
        > div {
            color: $white;
            padding: 20px 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 16px;
            width: 130px;
            line-height: 24px;
            height: 130px;
            .def {
                @include type-body;
                color: $white;
                padding-left: 0;
            }
        }
        @include media($mobile) {
            > div {
                width: 30vw;
                height: 30vw;
            }
        }

        .lime {
            background-color: $lime;
        }
        .dark-lime {
            background-color: $dark-lime;
        }
        .green {
            background-color: $green;
        }
        .dark-green {
            background-color: $dark-green;
        }
        .teal {
            background-color: $teal;
        }
        .dark-teal {
            background-color: $dark-teal;
        }
        .blue {
            background-color: $blue;
        }
        .dark-blue {
            background-color: $dark-blue;
        }
        .periwinkle {
            background-color: $periwinkle;
        }
        .dark-periwinkle {
            background-color: $dark-periwinkle;
        }
        .ultra-marine {
            background-color: $ultra-marine;
        }
        .dark-ultra-marine {
            background-color: $dark-ultra-marine;
        }
        .violet {
            background-color: $violet;
        }
        .dark-violet {
            background-color: $dark-violet;
        }
        .purple {
            background-color: $purple;
        }
        .dark-purple {
            background-color: $dark-purple;
        }
        .pink {
            background-color: $pink;
        }
        .dark-pink {
            background-color: $dark-pink;
        }
        .scarlet {
            background-color: $scarlet;
        }
        .dark-scarlet {
            background-color: $dark-scarlet;
        }
        .orange {
            background-color: $orange;
        }
        .dark-orange {
            background-color: $dark-orange;
        }
        .yellow {
            background-color: $yellow;
        }
        .dark-yellow {
            background-color: $dark-yellow;
        }
        .white {
            background-color: $white;
            box-shadow: inset 0 0 0 3px $gray3;
        }
        .gray1 {
            background-color: $gray1;
        }
        .gray1b {
            background-color: $gray1b;
        }
        .gray2 {
            background-color: $gray2;
        }
        .gray3 {
            background-color: $gray3;
        }
        .gray4 {
            background-color: $gray4;
        }
        .gray5 {
            background-color: $gray5;
        }
        .gray6 {
            background-color: $gray6;
        }
        .gray7 {
            background-color: $gray7;
        }
        .gray8 {
            background-color: $gray8;
        }

        // new colors added in 2018
        .accessible-blue {
            background-color: $accessible-blue;
        }
        .accessible-green {
            background-color: $accessible-green;
        }
        .booster-red {
            background-color: $booster-red;
        }

        .lime,
        .teal,
        .blue,
        .orange,
        .yellow,
        .dark-yellow,
        .gray1,
        .gray1b,
        .gray2,
        .gray3,
        .gray4,
        .white {
            color: $gray8;
            .def {
                color: $gray8;
            }
        }
    }
}
