// Doc specific styles

@include sd-viewport($sd-mobile) {
    .sg-colors .colors > div {
        width: 33.333%;
        font-size: 14px;
        span.def {
            font-size: 14px;
        }
    }
}

.sg-colors {
    .color-square-example {
        display: flex;
        height: 130px;
        width: 130px;
        align-items: center;
        justify-content: center;
        background-color: $pink;
        color: $white;
        &:hover {
            background-color: $dark-pink;
        }
    }
    .colors {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        font-weight: 500;
        > div {
            padding: 20px 15px;
            display: flex;
            height: 130px;
            width: 130px;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 16px;
            line-height: 24px;
            color: $white;
            .def {
                @include sd-type-body;
                color: $white;
                padding-left: 0;
            }
        }
        @include sd-viewport($sd-mobile) {
            > div {
                width: 30vw;
                height: 30vw;
            }
        }

        .lime {
            background-color: $lime;
        }
        .dark-lime {
            background-color: $dark-lime;
        }
        .green {
            background-color: $green;
        }
        .dark-green {
            background-color: $dark-green;
        }
        .teal {
            background-color: $teal;
        }
        .dark-teal {
            background-color: $dark-teal;
        }
        .blue {
            background-color: $blue;
        }
        .dark-blue {
            background-color: $dark-blue;
        }
        .periwinkle {
            background-color: $periwinkle;
        }
        .dark-periwinkle {
            background-color: $dark-periwinkle;
        }
        .ultra-marine {
            background-color: $ultra-marine;
        }
        .dark-ultra-marine {
            background-color: $dark-ultra-marine;
        }
        .violet {
            background-color: $violet;
        }
        .dark-violet {
            background-color: $dark-violet;
        }
        .purple {
            background-color: $purple;
        }
        .dark-purple {
            background-color: $dark-purple;
        }
        .pink {
            background-color: $pink;
        }
        .dark-pink {
            background-color: $dark-pink;
        }
        .scarlet {
            background-color: $scarlet;
        }
        .dark-scarlet {
            background-color: $dark-scarlet;
        }
        .orange {
            background-color: $orange;
        }
        .dark-orange {
            background-color: $dark-orange;
        }
        .yellow {
            background-color: $yellow;
        }
        .dark-yellow {
            background-color: $dark-yellow;
        }
        .white {
            background-color: $white;
            box-shadow: inset 0 0 0 3px $gray3;
        }
        .gray1 {
            background-color: $gray1;
        }
        .gray1b {
            background-color: $gray1b;
        }
        .gray2 {
            background-color: $gray2;
        }
        .gray3 {
            background-color: $gray3;
        }
        .gray4 {
            background-color: $gray4;
        }
        .gray5 {
            background-color: $gray5;
        }
        .gray6 {
            background-color: $gray6;
        }
        .gray7 {
            background-color: $gray7;
        }
        .gray8 {
            background-color: $gray8;
        }

        // new colors added in 2018
        .accessible-blue {
            background-color: $accessible-blue;
        }
        .accessible-green {
            background-color: $accessible-green;
        }
        .booster-red {
            background-color: $booster-red;
        }

        .lime,
        .teal,
        .blue,
        .orange,
        .yellow,
        .dark-yellow,
        .gray1,
        .gray1b,
        .gray2,
        .gray3,
        .gray4,
        .white {
            color: $gray8;
            .def {
                color: $gray8;
            }
        }
    }
}

.sg-buttons,
.sg-loading {
    &-sidebyside {
        border-radius: 5px;
        &.mod-dark-example {
            background-color: $gray8;
            color: $white;
        }
        @include sd-viewport($sd-mobile) {
            margin-bottom: 6vw;
            .left-side {
                width: 100%;
                margin-bottom: 3vw;
                flex-shrink: 0;
            }
            &.mod-dark-example {
                padding: 5vw 2vw;
            }
        }
        @include sd-viewport($sd-tablet-plus) {
            display: flex;
            align-items: flex-start;
            margin-bottom: 15px;
            .left-side {
                min-width: 200px;
                max-width: 200px;
                padding-right: 10px;
                p {
                    margin-top: 0;
                }
            }
            &.mod-dark-example {
                padding: 20px 10px;
                .left-side {
                    min-width: 190px;
                    max-width: 190px;
                }
            }
        }
    }
}

.sg-buttons {
    .another-example-button {
        @include sd-button(green, medium, outlined);
    }
    .blue-primary {
        @include sd-button();
    }
    .green-primary {
        @include sd-button(green, large, solid);
    }
    .pink-primary,
    .example-button {
        @include sd-button(pink, large, solid);
    }
    .red-primary {
        @include sd-button(red, large, solid);
    }
    .gray-primary {
        @include sd-button(gray, large, solid);
    }
    .white-primary {
        @include sd-button(white, large, solid);
    }
    .disabled-primary {
        @include sd-button(disabled, large, solid);
    }
    .blue-medium {
        @include sd-button(blue, medium, solid);
    }
    .blue-secondary {
        @include sd-button(blue, large, outlined);
    }
    .small-yes {
        @include sd-button(green, small, outlined);
    }
    .small-no {
        @include sd-button(pink, small, outlined);
    }
}

.sg-elevations {
    .block-code {
        margin-top: 36px;
    }
}

.sg-loading {
    @include sd-viewport($sd-mobile-tablet) {
        &-sidebyside {
            margin-bottom: 4vw;
        }
        .sg-loading-sidebyside-buttonarea {
            margin-top: 2vw;
        }
    }
    @include sd-viewport($sd-desktop) {
        &-sidebyside {
            margin-bottom: 35px;
        }
        .sg-loading-sidebyside-buttonarea {
            margin-bottom: 10px;
        }
        .sg-loading-box-testcard {
            height: 150px;
            width: 100%;
            margin-top: 10px;
        }
        .loading-example-pill,
        .loading-example-skeleton {
            width: 100%;
            height: 330px;
            padding: 10px;
            background-color: $gray2;
        }
        .loading-example-skeleton {
            margin: 10px 0 20px;
        }
        .right-side {
            flex-grow: 1;
            .block-code {
                margin: 18px 0 10px;
            }
        }
        .example-controls {
            margin-top: 10px;
        }
    }
}
