// Button styles

.ttam-button {
    @include ttam-button();
}

.ttam-secondary-button {
    @include ttam-button(green, large, outlined);
}

// strip button styles
%non-button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    height: auto;
    line-height: normal;
    min-width: 0;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
    white-space: normal;
    &:hover {
        background-color: transparent;
    }
}

// for button with button styles removed
.unbutton {
    @extend %non-button;
    color: inherit;
    font-weight: $font-weight-regular;
}

// for button with anchor/link style
.button-anchor {
    @extend %non-button;
    @extend .a-link;
    display: inline;
    font-weight: $font-weight-medium;
}
