<div class="guide-item">
    <div class="guide-item-heading">
        <div>
            <h1 class="guide-item-title mod-updated">Buttons</h1>
            <p class="guide-item-desc">
                Controls for submitting inputs, moving within a flow, or triggering an action
            </p>
        </div>
    </div>

    <div class="guide-item-section" id="buttons-types">
        <div class="guide-item-section-wrapper">
            <h2 class="guide-item-subtitle">Types</h2>
            <p class="guide-item-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet sapien vitae
                lacinia mollis. Proin iaculis mollis dui, sed euismod dolor tempor vitae.
            </p>
            <div class="guide-item-examples">
                <div class="guide-item-example">
                    <div>
                        <button class="ttam-button">Button</button>
                    </div>
                    <span class="guide-item-example-caption">
                        test stuff
                    </span>
                </div>
                <div class="guide-item-example">
                    <div>
                        <button class="ttam-button">Button</button>
                    </div>
                </div>
                <div class="guide-item-example">
                    <div>
                        <button class="ttam-button">Button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="guide-item-section" id="buttons-types">
        <div class="guide-item-section-wrapper">
            <h2 class="guide-item-subtitle">Sizes</h2>
            <p class="guide-item-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet sapien vitae
                lacinia mollis. Proin iaculis mollis dui, sed euismod dolor tempor vitae.
            </p>
            <div class="guide-item-examples">
                <div class="guide-item-example">
                    <div>
                        <button class="ttam-button">Button</button>
                    </div>
                    <span class="guide-item-example-caption">
                        test stuff
                    </span>
                </div>
                <div class="guide-item-example">
                    <div>
                        <button class="ttam-button">Button</button>
                    </div>
                </div>
                <div class="guide-item-example">
                    <div>
                        <button class="ttam-button">Button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="guide-item-section" id="buttons-types">
        <div class="guide-item-section-wrapper">
            <h2 class="guide-item-subtitle">Usage Guidelines</h2>
            <ul class="guide-item-usage-list">
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            </ul>
        </div>
    </div>

    <div class="guide-item-section" id="buttons-types">
        <div class="guide-item-section-wrapper">
            <h2 class="guide-item-subtitle">Use in product</h2>
            <div class="guide-item-location-list">
                <span><a href="#">Ancestry Composition country detail</a></span>
                <span><a href="#">Homepage feed cards</a></span>
                <span><a href="#">DNA Relatives detail page</a></span>
            </div>
        </div>
    </div>

    <div class="guide-item-section" id="buttons-types">
        <div class="guide-item-section-wrapper">
            <h2 class="guide-item-subtitle">Code</h2>
            <pre><code class="language-css">p { color: red }</code></pre>
        </div>
    </div>
</div>
