// mixins

@mixin media($device) {
    @if $device == mobile {
        @media screen and (max-width: $mobile-max - 1) {
            @content;
        }
    }
    @else if $device == tablet {
        @media screen and (min-width: $mobile-max) and (max-width: $tablet-max) {
            @content;
        }
    }
    @else if $device == desktop {
        @media screen and (min-width: $tablet-max + 1) {
            @content
        }
    }
    @else if $device == tablet-plus {
        @media screen and (min-width: $mobile-max) {
            @content;
        }
    }
    @else if $device == mobile-tablet {
        @media screen and (max-width: $tablet-max) {
            @content;
        }
    }
}

// Type
%font-family {
    font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin type-title {
    @extends %font-family;
    color: $gray8;
    font-weight: 400;
    @include media($mobile) {
        font-size: 24px;
    }
    @include media($tablet-plus) {
        font-size: 30px;
    }
}

@mixin type-subtitle {
    @extends %font-family;
    font-size: 18px;
    font-weight: 400;
    color: $gray8;
}

@mixin type-body {
    @extends %font-family;
    color: $gray7;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4em;
}

@mixin type-caption {
    @extends %font-family;
    font-weight: 400;
    font-size: 14px;
    color: $gray8;
}

@mixin type-nav {
    @extends %font-family;
    font-weight: 500;
    font-size: 16px;
}

@mixin type-nav-sub {
    @include type-nav;
    font-size: 14px;
    font-weight: 400;
}

@mixin type-current {
    @extends %font-family;
    color: $gray7;
    font-weight: 500;
    font-size: 16px;
}



