</!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>23andMe Style</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="../dist/ttam-style.css">
    <script src="../dist/ttam-style.js" type="text/javascript"></script>
</head>
<body>
    <main>
        {% include site_path + 'global/header.html' %}

        <div class="contents">
            {% include site_path + 'global/navigation.html' %}
            {% include site_path + 'contents.html' %}
        </div>

        <!-- {% include site_path + 'global/footer.html' %} -->
    </main>
</body>
</html>
